.pagination 
{
  padding: 0;
  text-align: center;
}
.pagination li 
{
  display: inline-block;
  margin: 0 5px;
}
.pagination a 
{
  display: inline-block;
  text-decoration: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #0f2541;
  border: 1px solid #0f2541;
  border-radius: 15px;
  text-align: center;
}
.pagination a.active 
{
  background: #0059ff;
  color: #fff;
  border-color: #0059ff;
}
.pagination a.prev,
.pagination a.next 
{
  width: 80px;
}