main
{
  background: #f5f4f1;
  width: 500px;
  padding: 20px;
  box-sizing: border-box;
}
.fig
{
  display: inline-block;
  padding-right: 10px;
  text-align: right;
  border-right: 2px solid #be8f59;
}
h2
{
  display: inline-block;
  width: 138px;
  margin: 0 0 0 10px;
  font-weight: normal;
  vertical-align: top;
}
